body {
  background-color: #87e14b;
  background-image: url("images/burgerBG.jpg");
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: cover;
  font-family: Arial;
  margin: 0;
  padding: 0;
}
header {
  color: white;
  margin-left: 10px;
  text-shadow: 2px 2px 4px #000000;
}

.ingredients,
.instructions {
  color: lightgray;
  margin-top: 20px;
  margin-left: 20px;
}
